SourceCode(SRC)/Noderedflow.json
[{"id":"7c70e82c.5957d8","type":"tab","label":"Voice Enabled COVID Chatbot","disabled":false,"info":""},{"id":"e0dc74ab.e37fa8","type":"tab","label":"SMS Chatbot","disabled":false,"info":""},{"id":"5b3d953f.17947c","type":"ui_tab","z":"7c70e82c.5957d8","name":"COVID Voice Chatbot","icon":"dashboard","disabled":false,"hidden":false},{"id":"38434448.210d6c","type":"ui_base","z":"","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#004080","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#004080","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0066cc","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#004080","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"58a9ebda.c37b34","type":"ui_group","z":"","name":"Chat Panel","tab":"5b3d953f.17947c","order":null,"disp":true,"width":"12","collapse":false},{"id":"2f931879.90c288","type":"ui_group","z":"","name":"Options Panel","tab":"5b3d953f.17947c","order":2,"disp":true,"width":"9","collapse":false},{"id":"2626d185.2d545e","type":"covapikey","z":"","name":"twc"},{"id":"622ff611.643528","type":"ui_group","z":"","name":"Text assistant","tab":"5b3d953f.17947c","order":3,"disp":true,"width":"7","collapse":false},{"id":"ba1fe676.1b9898","type":"ui_group","z":"","name":"Information","tab":"5b3d953f.17947c","order":4,"disp":true,"width":"6","collapse":false},{"id":"2f8590a9.32a32","type":"twilio-api","z":"","name":"","sid":"AC0d50c444ddd4eec55555aa0b356d9163","from":"whatsapp:+14155238886"},{"id":"ae61f44d.cb8748","type":"covapikey","z":"","name":""},{"id":"48652f6a.2e3a4","type":"ui_group","z":"","name":"News","tab":"5b3d953f.17947c","order":5,"disp":true,"width":"6","collapse":false},{"id":"5c9ee94.7507818","type":"debug","z":"7c70e82c.5957d8","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":1030,"y":320,"wires":[]},{"id":"654b123a.7f059c","type":"switch","z":"7c70e82c.5957d8","name":"Intents","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"How_many_cases","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":360,"wires":[["4568e025.bdcfc"],["6b79711a.7b47f"]]},{"id":"1effd2fd.db3c3d","type":"comment","z":"7c70e82c.5957d8","name":"Reply to the user","info":"","x":1260,"y":340,"wires":[]},{"id":"ea8c7722.8687f8","type":"change","z":"7c70e82c.5957d8","name":"Pass the recorded transcript to Conversation","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"},{"t":"set","p":"chatstart","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":100,"wires":[["3b25dbe9.420114","25054597.a7a2ea"]]},{"id":"ca33727c.b727d","type":"watson-text-to-speech","z":"7c70e82c.5957d8","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"","apikey":"J6Ax3ZzLEvKBCO4WAUvOI2-sHW7Oz1ot9Oy5pyXIXZ6I","payload-response":true,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/cf3eada8-dc21-4c06-9307-5019531f3a38","x":1040,"y":380,"wires":[["bf935e9e.09cd4"]]},{"id":"2db9101a.de514","type":"debug","z":"7c70e82c.5957d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","targetType":"msg","x":530,"y":60,"wires":[]},{"id":"6b79711a.7b47f","type":"function","z":"7c70e82c.5957d8","name":"Watson Conversation Reply","func":"function createTextLinks(text) {\n\n  return (text || \"\").replace(\n    /([^\\S]|^)(((https?\\:\\/\\/)|(www\\.))(\\S+))/gi,\n    function(match, space, url){\n      var hyperlink = url;\n      if (!hyperlink.match('^https?:\\/\\/')) {\n        hyperlink = 'http://' + hyperlink;\n      }\n      return space + '<a href=\"' + hyperlink + '\">' + url + '</a>';\n    }\n  );\n}\n\nvar response = \"\"\n\nfor(i=0;i<msg.payload.output.generic.length;i++) {\n  response = response + msg.payload.output.generic[i].text ;\n}\n\nresponse = createTextLinks(response);\n\n// The news reports will have \\n, replace with breaks\nmsg.payload = response.replace(/(?:\\r\\n|\\r|\\n)/g, '<br />');\n\n// The news reports will have http: links. Make them \n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":300,"wires":[["5c9ee94.7507818","3b25dbe9.420114","ca33727c.b727d"]]},{"id":"25054597.a7a2ea","type":"watson-conversation-v1","z":"7c70e82c.5957d8","name":"","workspaceid":"e5472aff-d34b-454d-a800-9a037e193bf7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/31ac2c78-aabf-4785-abad-6a7fad887579","timeout":"","optout-learning":false,"x":920,"y":100,"wires":[["f6dc2ead.8f7d4","d2980bae.3a2498"]]},{"id":"f6dc2ead.8f7d4","type":"debug","z":"7c70e82c.5957d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":100,"wires":[]},{"id":"52998503.2e764c","type":"debug","z":"7c70e82c.5957d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":460,"wires":[]},{"id":"ba1d843c.f6ddb8","type":"watson-speech-to-text","z":"7c70e82c.5957d8","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"LZBnnG2ispd9ywwwER8YD8ecMzqgpRoWaIMjXQ44NLiW","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":true,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/8869ee07-b47e-48be-9047-ae03ef929621","x":280,"y":100,"wires":[["2db9101a.de514","ea8c7722.8687f8"]]},{"id":"7506ab3b.90b624","type":"ui_template","z":"7c70e82c.5957d8","group":"58a9ebda.c37b34","name":"Chat History","order":1,"width":12,"height":10,"format":"\n<style>\nbody#nr-dashboard.nr-dashboard-theme.ng-scope.layout-column\n{\n    background-image: url(\"News Background/thisisengineering-raeng-zdBOU0faYK4-unsplash.jpg\") ;\n   background: url(\"News Background/thisisengineering-raeng-zdBOU0faYK4-unsplash.jpg\") ;\n    background-repeat: repeat;\n     }\n     \nbody#nr-dashboard.nr-dashboard-theme.ng-scope.layout-column\n{\n     background-image: url(\"News Background/thisisengineering-raeng-zdBOU0faYK4-unsplash.jpg\") ;\n        background: url(\"News Background/thisisengineering-raeng-zdBOU0faYK4-unsplash.jpg\") ;\n    background-repeat: repeat;\n    \n}\n\n</style>\n<div style=\"padding:20px 20px;background-image:'https://images.unsplash.com/photo-1576012516389-52c1da5f2daa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80'\">\n<div id=\"{{'my_'+$id}}\" style=\"{{'color:'+theme.base_color}}\"></div>\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n      // Render the chatbot table when msg arrives\n      $(\"#my_\"+scope.$id).html(msg.payload);\n      // scroll to Bottom\n      var elmnt = document.getElementById(\"chatbot\");\n      elmnt.scrollIntoView(false);\n    }\n  });\n})(scope);\n</script>\n\n</div>\n<style>\nbody {\n    background-image: url(\"News Background/thisisengineering-raeng-zdBOU0faYK4-unsplash.jpg\") ;\n  \n     }\n     </style>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1150,"y":240,"wires":[[]]},{"id":"3b25dbe9.420114","type":"function","z":"7c70e82c.5957d8","name":"Build Chat table","func":"var chathistory = flow.get(\"history\")||[];\nvar chatstart = flow.get(\"chatstart\");\nvar who;\n\nif( typeof(chatstart) == 'undefined' ) { chatstart = true ; }\nif(chatstart===true) {\n    who = \"Q\";\n} else {\n    who = \"A\";\n}\n\nvar newchatentry = {\"who\":\"\",\"text\":\"\"};\nif( chathistory.length === 0 ) {\n    // First chat, init the table\n    newchatentry = {\"who\":\"A\",\"text\":\"Hello, I’m the AI-Enabled COVID Crisis Communication Voice Bot ready to answer your questions about COVID-19. How can I help you?\"};\n\n    // Add the question, if its not a Clear Chat button press\n    if( msg.payload.length ) { \n        chathistory.push(newchatentry);\n        newchatentry = {\"who\":\"Q\",\"text\":msg.payload}; \n    }\n} else {\n    newchatentry = {\"who\":who,\"text\":msg.payload};\n}\nchathistory.push(newchatentry);\n\nmsg.payload=\"<style>\";\nmsg.payload=msg.payload+\"table { width: 488px; margin-top: 10px; background-image:'https://images.unsplash.com/photo-1576012516389-52c1da5f2daa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80' }\";\nmsg.payload=msg.payload+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.payload=msg.payload+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.payload=msg.payload+\"</style>\";\n\nmsg.payload=msg.payload+\"<table id=\\\"chatbot\\\" span=100%><tr><th>Chat History</th></tr>\";\nfor( i = 0; i < chathistory.length; i++ ) {\n    if( chathistory[i].who == \"Q\" ) {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:right;\\\">\"+chathistory[i].text+\"</p></td></tr>\" ;\n    } else {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:left;background-color:#f2f2f2;\\\">\" +chathistory[i].text+\"</p></td></tr>\" ;\n    }\n}\n\nmsg.payload = msg.payload + \"</table>\";\nflow.set(\"chatstart\",false);\nflow.set(\"history\",chathistory);\nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":220,"wires":[["7506ab3b.90b624","1ebad2a2.144ffd"]]},{"id":"1ebad2a2.144ffd","type":"debug","z":"7c70e82c.5957d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":200,"wires":[]},{"id":"eb93f79c.2e4438","type":"inject","z":"7c70e82c.5957d8","name":"","topic":"Clear Chat","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":200,"wires":[["914a2cc9.359c8"]]},{"id":"914a2cc9.359c8","type":"change","z":"7c70e82c.5957d8","name":"delete history","rules":[{"t":"delete","p":"history","pt":"flow"},{"t":"set","p":"chatstart","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":180,"wires":[["3b25dbe9.420114"]]},{"id":"94d47bdc.866708","type":"ui_button","z":"7c70e82c.5957d8","name":"","group":"2f931879.90c288","order":8,"width":9,"height":1,"passthru":false,"label":"Clear Chat","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":160,"wires":[["914a2cc9.359c8"]]},{"id":"d2980bae.3a2498","type":"function","z":"7c70e82c.5957d8","name":"","func":"if( typeof msg.payload.intents != 'undefined') {\n    if( msg.payload.intents.length > 0 ) {\n        if( typeof msg.payload.intents[0].intent!= 'undefined') {\n            return [msg, null];\n        }\n    }\n}\nmsg.payload = \"Sorry, the chat bot did not understand the question.\";\nreturn [null,msg];","outputs":2,"noerr":0,"x":90,"y":280,"wires":[["654b123a.7f059c"],["ca33727c.b727d"]]},{"id":"97b389a4.6801f8","type":"ui_gauge","z":"7c70e82c.5957d8","name":"","group":"2f931879.90c288","order":4,"width":"3","height":"3","gtype":"gage","title":"Total Cases","label":"","format":"{{value}}","min":0,"max":"10000000","colors":["#ca3838","#ca3838","#ca3838"],"seg1":"","seg2":"","x":1030,"y":500,"wires":[]},{"id":"71d1ba6a.8263e4","type":"inject","z":"7c70e82c.5957d8","name":"Hourly updates","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":380,"y":640,"wires":[["9cd2270f.ad4b68"]]},{"id":"d30f4e6b.070dc","type":"ui_gauge","z":"7c70e82c.5957d8","name":"","group":"2f931879.90c288","order":3,"width":"3","height":"3","gtype":"gage","title":"Total Deaths","label":"","format":"{{value}}","min":0,"max":"500000","colors":["#c13421","#d40015","#ca3838"],"seg1":"","seg2":"","x":1030,"y":560,"wires":[]},{"id":"d3194ee3.bcbe2","type":"ui_gauge","z":"7c70e82c.5957d8","name":"","group":"2f931879.90c288","order":2,"width":"3","height":"3","gtype":"gage","title":"Total Countries","label":"","format":"{{value}}","min":0,"max":"250","colors":["#ee7b00","#e43135","#f23030"],"seg1":"","seg2":"","x":1040,"y":620,"wires":[]},{"id":"fc45e1f8.ab7cb","type":"trigger","z":"7c70e82c.5957d8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":260,"y":540,"wires":[["9cd2270f.ad4b68"]]},{"id":"43c32cd9.fb6574","type":"ui_ui_control","z":"7c70e82c.5957d8","name":"","events":"change","x":60,"y":540,"wires":[["20ca7071.4a667","8557eb6c.299988","914a2cc9.359c8","867aec5b.59185","a14d3ace.ed6918","fc45e1f8.ab7cb","59ef80c2.86b72","e7565168.edfbe","ee00b6f.ced6648"]]},{"id":"c199fefc.7d3e1","type":"comment","z":"7c70e82c.5957d8","name":"Refresh the dashboard","info":"","x":460,"y":500,"wires":[]},{"id":"daeedab1.8da438","type":"inject","z":"7c70e82c.5957d8","name":"","topic":"","payload":"what is coronavirus","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":20,"wires":[["25054597.a7a2ea"]]},{"id":"9cd2270f.ad4b68","type":"twc-covid19-country-report","z":"7c70e82c.5957d8","name":"","apikey":"2626d185.2d545e","x":510,"y":540,"wires":[["3966bcff.7b5e34","1bbdbb7c.f726f5","c9b20bd7.088868"]]},{"id":"3966bcff.7b5e34","type":"function","z":"7c70e82c.5957d8","name":"Total Confirmed Cases","func":"let totalConfirmedCase = 0;\n\nmsg.payload.covid19.confirmed.map(function(line){\n    totalConfirmedCase += line;\n});\n\nmsg.payload = totalConfirmedCase;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":500,"wires":[["97b389a4.6801f8","52998503.2e764c"]]},{"id":"1bbdbb7c.f726f5","type":"function","z":"7c70e82c.5957d8","name":"Total Fatalities","func":"let totalFatalities = 0;\n\nmsg.payload.covid19.deaths.map(function(line){\n    totalFatalities += line;\n});\n\nmsg.payload = totalFatalities;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":560,"wires":[["d30f4e6b.070dc"]]},{"id":"c9b20bd7.088868","type":"function","z":"7c70e82c.5957d8","name":"Total Confirmed Countries","func":"let totalCtryConfirmed = 0;\n\nmsg.payload.covid19.confirmed.map(function(line){\n    if( line !== null ) {\n      totalCtryConfirmed += 1;\n    }\n});\n\nmsg.payload = totalCtryConfirmed;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":620,"wires":[["d3194ee3.bcbe2"]]},{"id":"5f9e72db.d8c24c","type":"ui_microphone","z":"7c70e82c.5957d8","group":"2f931879.90c288","order":9,"width":0,"height":0,"name":"","maxLength":"5","timeslice":0,"x":90,"y":100,"wires":[["ba1d843c.f6ddb8"]]},{"id":"8772559.aa347a8","type":"inject","z":"7c70e82c.5957d8","name":"","topic":"","payload":"How many cases of coronavirus","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":60,"wires":[["25054597.a7a2ea"]]},{"id":"4568e025.bdcfc","type":"twc-covid19-country-report","z":"7c70e82c.5957d8","name":"twc","apikey":"2626d185.2d545e","x":410,"y":440,"wires":[["1d898ea2.0f50f1"]]},{"id":"1d898ea2.0f50f1","type":"function","z":"7c70e82c.5957d8","name":"Total Confirmed Cases","func":"let totalConfirmedCase = 0;\n\nmsg.payload.covid19.confirmed.map(function(line){\n    totalConfirmedCase += line;\n});\n\nmsg.payload = \"Worldwide, there have been \"+totalConfirmedCase+\" total confirmed cases of COVID-19\"\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":440,"wires":[["ca33727c.b727d"]]},{"id":"20ca7071.4a667","type":"ui_template","z":"7c70e82c.5957d8","group":"622ff611.643528","name":"TextBot","order":1,"width":0,"height":0,"format":"\n<script>\n  window.watsonAssistantChatOptions = {\n      integrationID: \"91f73bda-29c0-4429-8a03-0561eb94ca53\", // The ID of this integration.\n      region: \"eu-gb\", // The region your integration is hosted in.\n      serviceInstanceID: \"31ac2c78-aabf-4785-abad-6a7fad887579\", // The ID of your service instance.\n      onLoad: function(instance) { instance.render(); }\n    };\n  setTimeout(function(){\n    const t=document.createElement('script');\n    t.src=\"https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js\";\n    document.head.appendChild(t);\n  });\n</script>\n\n<style>\nbody#nr-dashboard.nr-dashboard-theme.ng-scope.layout-column\n{\n    background-image: url(\"News Background/thisisengineering-raeng-zdBOU0faYK4-unsplash.jpg\") ;\n   background: url(\"https://www.cslbehring.com/-/media/global-csl-behring/vita-images/coronavirus-blue-background.jpg?h=430&w=768&cropregion=0,0,768,430&hash=CD342AF62B5D9F236DD9BD34B18EF88C979F62EF\") ;\n    background-repeat: repeat;\n     }\n     \nbody#nr-dashboard.nr-dashboard-theme.ng-scope.layout-column\n{\n     background-image: url(\"https://www.cslbehring.com/-/media/global-csl-behring/vita-images/coronavirus-blue-background.jpg?h=430&w=768&cropregion=0,0,768,430&hash=CD342AF62B5D9F236DD9BD34B18EF88C979F62EF\") ;\n        background: url(\"https://www.cslbehring.com/-/media/global-csl-behring/vita-images/coronavirus-blue-background.jpg?h=430&w=768&cropregion=0,0,768,430&hash=CD342AF62B5D9F236DD9BD34B18EF88C979F62EF\") ;\n    background-repeat: repeat;\n    \n}\n\n</style>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"global","x":260,"y":460,"wires":[[]],"info":"test"},{"id":"8557eb6c.299988","type":"ui_template","z":"7c70e82c.5957d8","group":"ba1fe676.1b9898","name":"","order":1,"width":0,"height":0,"format":"\n   <style>\nbody#nr-dashboard.nr-dashboard-theme.ng-scope.layout-column\n{\n    background-image: url(\"News Background/thisisengineering-raeng-zdBOU0faYK4-unsplash.jpg\") ;\n   background: url(\"https://www.cslbehring.com/-/media/global-csl-behring/vita-images/coronavirus-blue-background.jpg?h=430&w=768&cropregion=0,0,768,430&hash=CD342AF62B5D9F236DD9BD34B18EF88C979F62EF\") ;\n    background-repeat: repeat;\n     }\n     \nbody#nr-dashboard.nr-dashboard-theme.ng-scope.layout-column\n{\n     background-image: url(\"https://www.cslbehring.com/-/media/global-csl-behring/vita-images/coronavirus-blue-background.jpg?h=430&w=768&cropregion=0,0,768,430&hash=CD342AF62B5D9F236DD9BD34B18EF88C979F62EF\") ;\n        background: url(\"https://www.cslbehring.com/-/media/global-csl-behring/vita-images/coronavirus-blue-background.jpg?h=430&w=768&cropregion=0,0,768,430&hash=CD342AF62B5D9F236DD9BD34B18EF88C979F62EF\") ;\n    background-repeat: repeat;\n    \n}\n\n</style>\n   <div style=\"padding-top:50px;\n  padding-right: 40px;\n  padding-bottom: 50px;\n  padding-left: 40px;\">\n    <h1>\n        Text Conversational Bot\n    </h1>\n    \n If you're facing issue with the voice chatbot, you can use our text conversational bot. \n <p>Click the icon in the below right corner</p>\n</div> \n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":260,"y":580,"wires":[[]]},{"id":"43082d7b.cb7014","type":"change","z":"e0dc74ab.e37fa8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Body","tot":"msg"},{"t":"delete","p":"req","pt":"msg"},{"t":"delete","p":"res","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":140,"wires":[["71009ada.2ae354","910df0fb.19ac8"]]},{"id":"38519537.d2e89a","type":"http in","z":"e0dc74ab.e37fa8","name":"Twilio POST Endpoint","url":"/sms2chatbot","method":"post","upload":false,"swaggerDoc":"","x":160,"y":140,"wires":[["99eb2dc5.cb652","43082d7b.cb7014","ce10badf.8694e8"]]},{"id":"99eb2dc5.cb652","type":"http response","z":"e0dc74ab.e37fa8","name":"","statusCode":"201","headers":{},"x":360,"y":180,"wires":[]},{"id":"ce10badf.8694e8","type":"debug","z":"e0dc74ab.e37fa8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":100,"wires":[]},{"id":"638c6469.8c250c","type":"comment","z":"e0dc74ab.e37fa8","name":"Send Messages from SMS to Watson Assistant","info":"","x":220,"y":60,"wires":[]},{"id":"cd43d6c1.f17968","type":"change","z":"e0dc74ab.e37fa8","name":"Watson Conversation Reply","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":300,"wires":[["919343a1.8b93d"]]},{"id":"8c5e2645.972948","type":"debug","z":"e0dc74ab.e37fa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":140,"wires":[]},{"id":"919343a1.8b93d","type":"twilio out","z":"e0dc74ab.e37fa8","twilio":"2f8590a9.32a32","twilioType":"sms","url":"","number":"whatsapp:+918168159893","name":"","x":890,"y":300,"wires":[]},{"id":"71009ada.2ae354","type":"watson-conversation-v1","z":"e0dc74ab.e37fa8","name":"","workspaceid":"e5472aff-d34b-454d-a800-9a037e193bf7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/31ac2c78-aabf-4785-abad-6a7fad887579","timeout":"","optout-learning":false,"x":620,"y":140,"wires":[["8c5e2645.972948","42485346.75ac7c"]]},{"id":"42485346.75ac7c","type":"switch","z":"e0dc74ab.e37fa8","name":"Intents","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"How_many_cases","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":280,"wires":[["c2529be2.7244f8"],["d38ecc0d.1141d"]]},{"id":"c2529be2.7244f8","type":"twc-covid19-country-report","z":"e0dc74ab.e37fa8","name":"","apikey":"2626d185.2d545e","x":410,"y":260,"wires":[["e8428cd0.c7c6","3f7b79c6.5e9476"]]},{"id":"e8428cd0.c7c6","type":"debug","z":"e0dc74ab.e37fa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":220,"wires":[]},{"id":"35f69c40.9745d4","type":"debug","z":"e0dc74ab.e37fa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":260,"wires":[]},{"id":"3f7b79c6.5e9476","type":"function","z":"e0dc74ab.e37fa8","name":"Total Confirmed Cases","func":"let totalConfirmedCase = 0;\n\nmsg.payload.covid19.confirmed.map(function(line){\n    totalConfirmedCase += line;\n});\n\nmsg.payload = \"Worldwide, there have been \"+totalConfirmedCase+\" total confirmed cases of COVID-19\"\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":260,"wires":[["35f69c40.9745d4","919343a1.8b93d"]]},{"id":"bf935e9e.09cd4","type":"ui_audio","z":"7c70e82c.5957d8","name":"","group":"58a9ebda.c37b34","voice":"en-US","always":"","x":1300,"y":460,"wires":[]},{"id":"910df0fb.19ac8","type":"debug","z":"e0dc74ab.e37fa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":570,"y":100,"wires":[]},{"id":"d38ecc0d.1141d","type":"function","z":"e0dc74ab.e37fa8","name":"","func":"if (msg.payload.output.text.length > 1) {\n    \n    for(var i=1; i<msg.payload.output.text.length; i++)\n    {\n        msg.payload.output.text[0] += \"  \" +  msg.payload.output.text[i]\n    }\n\n}\nmsg.topic = msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":360,"wires":[["cd43d6c1.f17968"]]},{"id":"867aec5b.59185","type":"ui_template","z":"7c70e82c.5957d8","group":"2f931879.90c288","name":"News","order":1,"width":0,"height":0,"format":"<style>\nbody#nr-dashboard.nr-dashboard-theme.ng-scope.layout-column\n{\n    background-image: url(\"News Background/thisisengineering-raeng-zdBOU0faYK4-unsplash.jpg\") ;\n   background: url(\"https://www.cslbehring.com/-/media/global-csl-behring/vita-images/coronavirus-blue-background.jpg?h=430&w=768&cropregion=0,0,768,430&hash=CD342AF62B5D9F236DD9BD34B18EF88C979F62EF\") ;\n    background-repeat: repeat;\n     }\n     \nbody#nr-dashboard.nr-dashboard-theme.ng-scope.layout-column\n{\n     background-image: url(\"https://www.cslbehring.com/-/media/global-csl-behring/vita-images/coronavirus-blue-background.jpg?h=430&w=768&cropregion=0,0,768,430&hash=CD342AF62B5D9F236DD9BD34B18EF88C979F62EF\") ;\n        background: url(\"https://www.cslbehring.com/-/media/global-csl-behring/vita-images/coronavirus-blue-background.jpg?h=430&w=768&cropregion=0,0,768,430&hash=CD342AF62B5D9F236DD9BD34B18EF88C979F62EF\") ;\n    background-repeat: repeat;\n    \n}\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":250,"y":500,"wires":[[]]},{"id":"c57767bd.9319f8","type":"function","z":"7c70e82c.5957d8","name":"","func":"//var request = require(\"request-promise\");\n\n//const summary = request({\n       // method: \"GET\",\n     //   uri: \"https://api.rootnet.in/covid19-in/stats/latest\",\n   //     json: true,\n //     });\n    \n//console.log(summary['data']['summary']['total']);\n\nmsg.payload = msg.payload['data']['summary']['total'];\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":740,"wires":[["60333ae1.9a3654"]]},{"id":"60333ae1.9a3654","type":"ui_gauge","z":"7c70e82c.5957d8","name":"","group":"2f931879.90c288","order":5,"width":"3","height":"3","gtype":"gage","title":"India Cases","label":"","format":"{{value}}","min":0,"max":"500000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":740,"wires":[]},{"id":"a14d3ace.ed6918","type":"http request","z":"7c70e82c.5957d8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.rootnet.in/covid19-in/stats/latest","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":740,"wires":[["c57767bd.9319f8"]]},{"id":"59ef80c2.86b72","type":"http request","z":"7c70e82c.5957d8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.rootnet.in/covid19-in/unofficial/covid19india.org/statewise","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":800,"wires":[["e2744e7b.75526"]]},{"id":"69777617.b42488","type":"ui_dropdown","z":"7c70e82c.5957d8","name":"SelectedState","label":"","tooltip":"","place":"Select State","group":"2f931879.90c288","order":10,"width":0,"height":0,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"SelectedState","x":860,"y":740,"wires":[["25ccf92.ec00606","525bfd5e.799044","889b3d11.48dab"]]},{"id":"88fd0036.94f6f","type":"ui_media","z":"7c70e82c.5957d8","group":"58a9ebda.c37b34","name":"","width":0,"height":0,"order":2,"category":"Options Panel","file":"chris-liu-raoGue01P-I-unsplash.jpg","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":90,"y":460,"wires":[["20ca7071.4a667","867aec5b.59185","8557eb6c.299988","43c32cd9.fb6574"]]},{"id":"f5a06782.7f4788","type":"ui_media","z":"7c70e82c.5957d8","group":"ba1fe676.1b9898","name":"","width":0,"height":0,"order":2,"category":"News Background","file":"thisisengineering-raeng-zdBOU0faYK4-unsplash.jpg","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1270,"y":160,"wires":[[]]},{"id":"e2744e7b.75526","type":"function","z":"7c70e82c.5957d8","name":"","func":"\nvar listData = msg.payload['data']['statewise'];\nvar states = [];\n\nfor(var i = 0; i < listData.length; i++)\n{\n    if(listData[i].state != 'State Unassigned')\n        states.push(listData[i].state);\n}\n\nmsg.states = listData;\nmsg.options = states;\nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":800,"wires":[["db8aca03.6462a8"]]},{"id":"db8aca03.6462a8","type":"change","z":"7c70e82c.5957d8","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"options","tot":"msg"},{"t":"set","p":"states","pt":"flow","to":"states","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":800,"wires":[["69777617.b42488","25ccf92.ec00606"]]},{"id":"25ccf92.ec00606","type":"function","z":"7c70e82c.5957d8","name":"","func":"var selectedState = msg.payload;\nvar statesData = flow.get(\"states\");\n\nif(selectedState) {\n    \n\nif(statesData !== undefined){\n    for( i = 0; i < statesData.length; i++ ) {\n        if( statesData[i].state == selectedState ) {\n            msg.payload = statesData[i];\n            break;\n        } \n    }\n}\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":800,"wires":[["2b8a54f.b8860ac","7c2e7f43.57ac8"]]},{"id":"2b8a54f.b8860ac","type":"ui_gauge","z":"7c70e82c.5957d8","name":"","group":"2f931879.90c288","order":6,"width":"3","height":"3","gtype":"gage","title":"{{msg.payload.state}} Cases","label":"","format":"{{msg.payload.confirmed}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1230,"y":760,"wires":[]},{"id":"7c2e7f43.57ac8","type":"ui_template","z":"7c70e82c.5957d8","group":"2f931879.90c288","name":"","order":12,"width":"9","height":"5","format":"<div>\n    <table \n         style=\"width: 80%;margin-left: 45px;\"\n        ng-if=\"msg.topic === 'SelectedState'\">\n        <tr>\n           <td colspan = 2>\n              <b>State Counts</b>\n           </td> \n        </tr>\n        <tr>\n            <td>State</td>\n            <td ng-bind-html=\"msg.payload.state\"></td>\n        </tr>\n        <tr>\n            <td>Confirmed</td>\n            <td ng-bind-html=\"msg.payload.confirmed\"></td>\n        </tr>\n        <tr>\n            <td>Recovered</td>\n            <td ng-bind-html=\"msg.payload.recovered\"></td>\n        </tr>\n        <tr>\n            <td>Active</td>\n            <td ng-bind-html=\"msg.payload.active\"></td>\n        </tr>\n    </table>        \n</div>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1240,"y":800,"wires":[[]]},{"id":"e7565168.edfbe","type":"http request","z":"7c70e82c.5957d8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.covid19india.org/state_district_wise.json","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":860,"wires":[["346d6cf9.b0aea4"]]},{"id":"346d6cf9.b0aea4","type":"change","z":"7c70e82c.5957d8","name":"","rules":[{"t":"set","p":"allDistricts","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":860,"wires":[["525bfd5e.799044"]]},{"id":"525bfd5e.799044","type":"function","z":"7c70e82c.5957d8","name":"","func":"var selectedState = msg.payload;\nvar allDistricts = flow.get(\"allDistricts\");\nvar Districts = [];\nvar stateLevelDistrictDetails;\n\nif(selectedState){\n   Object.keys(allDistricts).forEach(function(key) {\n        if(key == selectedState){\n            stateLevelDistrictDetails = allDistricts[key][\"districtData\"];\n            Object.keys(stateLevelDistrictDetails).forEach(function(i){\n                Districts.push(i)\n            })\n        }\n    });\n    msg.options = Districts;\n    msg.stateLevelDistDetails = stateLevelDistrictDetails;\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":862,"wires":[["966978d9.8198e8"]]},{"id":"2444bfa9.b8567","type":"ui_dropdown","z":"7c70e82c.5957d8","name":"SelectedDistrict","label":"","tooltip":"","place":"Select District","group":"2f931879.90c288","order":11,"width":0,"height":0,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"SelectedDistrict","x":880,"y":920,"wires":[["51893485.31e61c"]]},{"id":"51893485.31e61c","type":"function","z":"7c70e82c.5957d8","name":"","func":"var selectedDistrict = msg.payload;\nvar allDistDetails = flow.get(\"stateLevelDistDetails\");\n\nif(selectedDistrict) {\n    \n     Object.keys(allDistDetails).forEach(function(i){\n        if(i == selectedDistrict){\n            msg.payload = allDistDetails[i];    \n        }\n     })\n    msg.district = selectedDistrict;\n} else {\n    msg.payload = null;\n    msg.district = '';\n    msg.topic = '';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":920,"wires":[["df1c3494.b2faf8","a9efa2ce.20177"]]},{"id":"966978d9.8198e8","type":"change","z":"7c70e82c.5957d8","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"options","tot":"msg"},{"t":"set","p":"stateLevelDistDetails","pt":"flow","to":"stateLevelDistDetails","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":920,"wires":[["2444bfa9.b8567"]]},{"id":"df1c3494.b2faf8","type":"ui_gauge","z":"7c70e82c.5957d8","name":"","group":"2f931879.90c288","order":7,"width":"3","height":"3","gtype":"gage","title":"{{msg.district}} Cases","label":"","format":"{{msg.payload.confirmed}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1210,"y":880,"wires":[]},{"id":"a9efa2ce.20177","type":"ui_template","z":"7c70e82c.5957d8","group":"2f931879.90c288","name":"","order":14,"width":"9","height":"5","format":"<div>\n    <table \n         style=\"width: 80%;margin-left: 45px;\"\n        ng-if=\"msg.topic === 'SelectedDistrict'\">\n        <tr>\n           <td colspan = 2>\n              <b>District Counts</b>\n           </td> \n        </tr>\n        <tr>\n            <td>District</td>\n            <td ng-bind-html=\"msg.district\"></td>\n        </tr>\n        <tr>\n            <td>Confirmed</td>\n            <td ng-bind-html=\"msg.payload.confirmed\"></td>\n        </tr>\n        <tr>\n            <td>Recovered</td>\n            <td ng-bind-html=\"msg.payload.recovered\"></td>\n        </tr>\n        <tr>\n            <td>Active</td>\n            <td ng-bind-html=\"msg.payload.active\"></td>\n        </tr>\n    </table>        \n</div>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1220,"y":920,"wires":[[]]},{"id":"ee00b6f.ced6648","type":"http request","z":"7c70e82c.5957d8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.rootnet.in/covid19-in/hospitals/beds","tls":"","persist":false,"proxy":"","authType":"","x":291,"y":980,"wires":[["e83c62f0.64483"]]},{"id":"e83c62f0.64483","type":"change","z":"7c70e82c.5957d8","name":"","rules":[{"t":"set","p":"allHospitals","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":980,"wires":[["889b3d11.48dab"]]},{"id":"889b3d11.48dab","type":"function","z":"7c70e82c.5957d8","name":"","func":"var selectedState = msg.payload;\nvar allHospitals = flow.get(\"allHospitals\");\nallHospitals = allHospitals[\"data\"][\"regional\"];\n\nif(selectedState){\n    for(i = 0; i< allHospitals.length; i++){\n        if(allHospitals[i].state == selectedState) {\n            msg.payload = allHospitals[i];\n            break;\n        }  \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":980,"wires":[["25c30af1.814f86"]]},{"id":"25c30af1.814f86","type":"ui_template","z":"7c70e82c.5957d8","group":"2f931879.90c288","name":"","order":13,"width":"9","height":"5","format":"<div>\n    <table \n         style=\"width: 80%;margin-left: 45px;\"\n        ng-if=\"msg.topic === 'SelectedState'\">\n        <tr>\n           <td colspan = 2>\n              <b>Statewise Hospital Counts</b>\n           </td> \n        </tr>\n        <tr>\n            <td>State</td>\n            <td ng-bind-html=\"msg.payload.state\"></td>\n        </tr>\n        <tr>\n            <td>Rural Hospitals</td>\n            <td ng-bind-html=\"msg.payload.ruralHospitals\"></td>\n        </tr>\n        <tr>\n            <td>Urban Hospitals</td>\n            <td ng-bind-html=\"msg.payload.urbanHospitals\"></td>\n        </tr>\n        <tr>\n            <td>Total Beds</td>\n            <td ng-bind-html=\"msg.payload.totalBeds\"></td>\n        </tr>\n    </table>        \n</div>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1000,"y":980,"wires":[[]]}]